header{
  display:flex;
  flex-direction:row;
  margin-left:150px;
  margin-right:150px;

}
.shapes{
  display:flex;
  flex-direction:row;
  flex:1;

}
.square{
  height:20px;
  width:20px;
  background-color:black;
  margin-left
}
.circle{
  margin-left:3px;
  height:20px;
  width:20px;
  background-color:black;
  border-radius:20px;
}
.navbar-option{
  font-size:15px;
  font-family:Arial;
  display:flex;
  flex:1;
  justify-content:space-between;
  justify-content:space-around;


}
.home{
  color:blue;
}
