@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    outline: none;border: none;
    text-decoration: none;
    text-transform: none;
    transition: all .2s linear;
}

/* About section starts */
.about{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .about-left{
    padding: 50px 150px;
    padding-right: 10px;

}

.about .about-left img{
    height: 500px;
    width: 470px;
    left: 0; top: 0;
}

.about .about-right{
    width: 50%;
    align-items: center;
    padding-right: 150px;
    padding-left: 70px;
}

.about-right h2{
    font-size: 14px;
    font-weight: 500;
    line-height: 2px;
    padding-bottom: none;
    margin-bottom: -30px;
}

.about-right h3{
    font-size: 48px;
    font-weight: 600;
    line-height: 30px;
}

.about-right p{
    font-size: 18px;
    color: rgb(92, 90, 90);
}

.about-right .btn{
    background-color: rgb(106, 106, 252);
    border-radius: 8px;
    font-size: 20px;
    padding: 10px;
    color: white;
    border: none;
    margin: 5px;
}

.btn:hover{
    background: rgb(158, 157, 157);
}
/* About section ends */

/* Portfolio section begins */
.portfolio{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio .portfolio-left{
    padding: 50px 150px;
    padding-right: 10px;

}

.portfolio .portfolio-right{
    width: 50%;
    align-items: center;
    padding-right: 150px;
    padding-left: 70px;
}

.portfolio-left h2{
    font-size: 14px;
    font-weight: 500;
    line-height: 2px;
    padding-bottom: none;
}

.portfolio-left h3{
    font-size: 48px;
    font-weight: 600;
    line-height: 40px;
}

.portfolio-right p{
    font-size: 18px;
    color: rgb(92, 90, 90);
}
